[Unit]
Description=Send a notification email to %i on system boot
After=postfix.service

[Service]
Type=oneshot
ExecStart=/bin/bash /root/scripts/email-on-reboot.sh %i

[Install]
WantedBy=multi-user.target
